<div [ngStyle]="greenmode ? green : null" class="footer pt-5 pb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="first col-md-6 col-lg-4 mb-3">
        <img class="img-fluid mb-3" src="assets/images/profile/footer.jpg" />
        <p class="pt-2 pb-5 fs-6 text-capitalize">
          hi im sameh a frontend developer avalible for work
          onsite//remote/hybrid feel free to contact me...
        </p>
        <div class="copywrite text-capitalize fs-6">
          "Created with <span>&hearts;</span> by sameh"
          <div>&copy; 2022 - <span>e-commerce</span></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links text-left p-0">
          <h5 class="fs-6">Links</h5>
          <ul class="list-unstyled lh-lg">
            <li routerLinkActive="active" routerLink="/home" class="p-0 fs-6">
              Home
            </li>
            <li
              routerLinkActive="active"
              routerLink="settings"
              class="p-0 fs-6"
            >
              Settings
            </li>
            <li
              routerLinkActive="active"
              routerLink="/profile"
              class="p-0 fs-6"
            >
              Profile
            </li>
            <li
              routerLinkActive="active"
              routerLink="/electronics"
              class="p-0 fs-6"
            >
              Electronics
            </li>
            <li
              routerLinkActive="active"
              routerLink="/jewelries"
              class="p-0 fs-6"
            >
              Jewelries
            </li>
            <li
              routerLinkActive="active"
              routerLink="men-clothing"
              class="p-0 fs-6"
            >
              Men's Clothing
            </li>
            <li
              routerLinkActive="active"
              routerLink="women-clothing"
              class="p-0 fs-6"
            >
              Women's Clothing
            </li>
            <li
              routerLinkActive="active"
              routerLink="about-us"
              class="p-0 fs-6"
            >
              Abouts Us
            </li>
            <li
              routerLinkActive="active"
              routerLink="contact-us"
              class="p-0 fs-6"
            >
              Contact Us
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links text-left p-0">
          <h5 class="fs-6">Join Us</h5>
          <ul class="list-unstyled lh-lg">
            <li routerLink="/login" class="p-0 fs-6">SignIn</li>
            <li routerLink="/register" class="p-0 fs-6">Register</li>
            <li routerLink="/complete-reg" class="p-0 fs-6">
              Complete Registration
            </li>
          </ul>
        </div>
      </div>
      <div class="free col-md-6 col-lg-4">
        <h5 class="text-capitalize fs-6">free-lancing</h5>
        <p class="lh-lg mt-3 mb-5">
          Get in touch with us via mail phone.We are waiting for your call or
          message
        </p>
        <a
          class="btn rounded-pill main-btn fs-5 w-100"
          href="mailto:sameh.frontend@gmail.com"
          >sameh.frontend@gmail.com</a
        >
        <div class="myicons mt-3 pb-3">
          <ul
            class="list-unstyled d-flex justify-content-center align-items-center"
          >
            <li>
              <a href="https://www.facebook.com/sameh.elma7y"
                ><i class="bi bi-facebook facebook p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/sameh123soliman"
                ><i class="bi bi-twitter twitter p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/sameh-soliman-b484961a2/"
                ><i class="bi bi-linkedin linkedin p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCpzcltrma3nfxe_Q5VzHxJA"
                ><i class="bi bi-youtube youtube p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://wa.link/cq0p89"
                ><i class="bi bi-whatsapp whatsapp p-2"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
