$background-color: #051622;
$main-color: #deb992;
$secondary-color: #1ba098;
$white: white;
.header {
  nav {
    background-color: $background-color;
    .left-part {
      a {
        background-color: $main-color;
        color: $background-color;
        transition: 1s;
        border: 2px solid $secondary-color;
      }
      a:hover {
        background-color: $secondary-color;
        border: 2px solid $main-color;
      }
      h1 {
        color: $main-color;
        transition: 1s;
      }
      h1:hover {
        color: $secondary-color;
      }
    }
  }
}
.offcanvas-start {
  background-color: $background-color;
  max-width: 350px;
  padding: 20px;
  .offcanvas-header {
    background-color: $background-color;
    border-radius: 40px;
    margin-bottom: 10px;
    color: $main-color;
    button {
      background-color: $secondary-color;
      border: 2px solid $main-color;
      transition: 1s;
    }
    button:hover {
      background-color: $main-color;
      border: 2px solid $secondary-color;
    }
    h5 {
      transition: 1s;
    }
    h5:hover {
      color: $secondary-color;
    }
  }
  .offcanvas-body {
    display: flex;
    align-items: center;
    background-color: $main-color;
    border-radius: 40px;
    .parent-ul {
      padding: 20px;
      height: -webkit-fill-available;
      color: white;
      span {
        position: relative;
        display: block;
        text-align: center;
        background-color: $background-color;
        padding: 5px;
        margin-bottom: 10px;
        align-self: center;
        border-radius: 10px;
        color: $main-color;
        animation: colorchange 3s infinite linear;
      }
      span::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 11px;
        background-color: $background-color;
        bottom: -11px;
        border-radius: 12px;
        left: calc(50% - 15px);
        clip-path: polygon(
          0% 0%,
          100% 0%,
          100% calc(100% - 30px),
          calc(50% + 30px) calc(100% - 30px),
          50% 100%,
          calc(50% - 30px) calc(100% - 30px),
          0 calc(100% - 30px)
        );
      }
      li {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 30px;
        padding: 10px;
        background-color: $background-color;
        border-radius: 20px;
        border: 2px solid $secondary-color;
        cursor: pointer;
        color: $main-color;
        transition: 1s;
      }
      li:hover {
        background-color: $secondary-color;
        color: $background-color;
        border: 2px solid $background-color;
      }
      .active {
        background-color: $secondary-color;
        color: $background-color;
        border: 2px solid $background-color;
      }
      .child-ul {
        li {
          cursor: pointer;
        }
      }
    }
  }
}
nav {
  .search {
    max-width: 1000px;
    button {
      background-color: $main-color;
      border: 2px solid $secondary-color;
      transition: 1s;
    }
    button:hover {
      background-color: $secondary-color;
      border: 2px solid $main-color;
    }
    input:focus {
      border: 3px solid $secondary-color;
      outline: none;
    }
  }
  .cart {
    padding: 6px 12px;
    i {
      color: $main-color;
      font-size: 50px;
      position: relative;
      transition: 1s;

      cursor: pointer;
      span {
        position: absolute;
        width: 23px;
        height: 23px;
        top: -6px;
        border-radius: 50%;
        right: -7px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-color;
        transition: 1s;
      }
    }
    i:hover {
      color: $secondary-color;
    }
    i:hover > span {
      color: $white;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      transition: 1s;
    }
    img:hover {
      filter: grayscale(100%);
    }
    button {
      background-color: $main-color;
      border: 2px solid $secondary-color;
      transition: 1s;
    }
    button:hover {
      background-color: $secondary-color;
      border: 2px solid $main-color;
    }
  }
}
//animations
@keyframes colorchange {
  0% {
    color: $main-color;
  }
  50% {
    color: $secondary-color;
  }
  100% {
    color: $main-color;
  }
}
