<div [ngStyle]="greenmode ? green : null" class="container text-center mb-5">
  <ngb-carousel [interval]="interval" [keyboard]="keyboard">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r1.avif" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r2.avif" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r3.avif" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r4.avif" alt="Random fourth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r5.avif" alt="Random fifth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r6.avif" alt="Random sixth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r7.avif" alt="Random seventh slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r8.avif" alt="Random eighth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r9.avif" alt="Random ninth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r10.avif" alt="Random tenth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r2.avif" alt="Random eleventh slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/random/r12.avif" alt="Random twelveth slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/random/r13.avif"
          alt="Random thirteenth slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/random/r14.avif"
          alt="Random fourteenth slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
  <section class="mt-5 row products gap-3 justify-content-center">
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/electronics/electronics3.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/electronics/electronics1.avif"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">elelctronics</p>
        <button routerLink="/electronics" class="btn fw-bold">show more</button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/electronics/electronics4.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/electronics/electronics2.avif"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">elelctronics</p>
        <button routerLink="/electronics" class="btn fw-bold">show more</button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/jewleries/jewlery3.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/jewleries/jewlery1.avif"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">jewellery</p>
        <button routerLink="/jewelries" class="btn fw-bold">show more</button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/jewleries/jewlery4.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          src="assets/images/jewleries/jewlery2.avif"
          class="card-img-top mt-3 sec"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">jewellery</p>
        <button routerLink="/jewelries" class="btn fw-bold">show more</button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/men/men4.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/men/men2.avif"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">men's clothes</p>
        <button routerLink="/men-clothing" class="btn fw-bold">
          show more
        </button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          src="assets/images/men/men3.avif"
          class="card-img-top mt-3"
          alt="..."
        />
        <img
          src="assets/images/men/men1.avif"
          class="card-img-top mt-3 sec"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">men's clothes</p>
        <button routerLink="/men-clothing" class="btn fw-bold">
          show more
        </button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/women/women3.avif"
          alt=""
        />
        <img
          src="assets/images/women/women1.avif"
          class="card-img-top mt-3"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">women's clothes</p>
        <button routerLink="/women-clothing" class="btn fw-bold">
          show more
        </button>
      </div>
    </div>
    <div class="card col-lg-3 col-md-4 col-sm-12" style="width: 18rem">
      <div class="image mb-3">
        <img
          class="card-img-top mt-3 sec"
          src="assets/images/women/women4.avif"
          alt=""
        />
        <img
          src="assets/images/women/women2.avif"
          class="card-img-top mt-3"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text text-capitalize fw-bold fs-4">women's clothes</p>
        <button routerLink="/women-clothing" class="btn fw-bold">
          show more
        </button>
      </div>
    </div>
  </section>
</div>
