<section [ngStyle]="greenmode ? green : null" class="container">
  <h1 class="text-capitalize text-center p-2 mb-5">admin pannel</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-cart">
          <div class="image">
            <img
              src="assets/images/admin/photo-1601598851547-4302969d0614.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/photo-1601598505513-7489a6272d2a.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              admin-cart
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-electronics">
          <div class="image">
            <img
              src="assets/images/admin/ele1.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/ele2.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              electronics
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-jewelries">
          <div class="image">
            <img
              src="assets/images/admin/jew1.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/jew2.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              jewleries
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-men-clothing">
          <div class="image">
            <img
              src="assets/images/admin/men1.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/men2.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              men's clothing
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-women-clothing">
          <div class="image">
            <img
              src="assets/images/admin/wom1.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/wom2.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              women's clothing
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="cards admin-cart p-4 d-flex justify-content-center align-items-center"
      >
        <div class="main" routerLink="/admin-settings">
          <div class="image">
            <img
              src="assets/images/admin/settings1.avif"
              class="mb-2 img-fluid first"
              alt="..."
            />
            <img
              class="mb-2 img-fluid sec"
              src="assets/images/admin/settings2.avif"
              alt=""
            />
          </div>
          <div class="cards-body mt-4">
            <h2 class="cards-title text-capitalize text-center p-2 m-0">
              settings
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
