<section class="container mt-4">
  <h1 class="text-capitalize text-center p-2">Appearance</h1>
  <p class="p-2 text-capitalize lh-lg fs-6">
    you can choose your favourite theme here...
  </p>
  <div class="main text-capitalize">
    <h2 class="mb-4">choose your theme</h2>
    <div class="spans d-flex mb-5">
      <span (click)="maintheme()" id="maintheme" class="maintheme"></span>
      <span (click)="greentheme()" id="greentheme" class="secondtheme"></span>
      <span (click)="redtheme()" id="redtheme" class="thirdtheme"></span>
      <span (click)="bluetheme()" id="bluetheme" class="fourththeme"></span>
      <span (click)="goldentheme()" id="goldentheme" class="fifththeme"></span>
      <span (click)="purpletheme()" id="purpletheme" class="sixththeme"></span>
    </div>
  </div>
</section>
