<div [ngStyle]="greenmode ? green : null" class="footer pt-3 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="free col-md-12 col-lg-12">
        <div
          class="d-flex flex-column justify-content-center align-items-center gap-3"
        >
          <h1 class="text-capitalize fs-1 text-center m-0">e-commerce</h1>
          <a
            class="btn rounded-pill main-btn fs-5"
            href="sameh.frontend@gmail.com"
            >sameh.frontend@gmail.com</a
          >
          <div class="myicons mt-3">
            <ul
              class="list-unstyled d-flex justify-content-center align-items-center"
            >
              <li>
                <a href="https://www.facebook.com/sameh.elma7y"
                  ><i class="bi bi-facebook facebook p-2 me-1"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/sameh123soliman"
                  ><i class="bi bi-twitter twitter p-2 me-1"></i
                ></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/sameh-soliman-b484961a2/"
                  ><i class="bi bi-linkedin linkedin p-2 me-1"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCpzcltrma3nfxe_Q5VzHxJA"
                  ><i class="bi bi-youtube youtube p-2 me-1"></i
                ></a>
              </li>
              <li>
                <a href="https://wa.link/cq0p89"
                  ><i class="bi bi-whatsapp whatsapp p-2"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
