<section [ngStyle]="greenmode ? green : null" class="container">
  <div class="head">
    <h1 class="text-capitalize text-center fs-3 p-2">about us</h1>
  </div>
  <div class="body">
    <h2 class="text-capitalize fs-3 p-2 lh-lg">
      hi, i'm sameh soliman a frontend developer<span>,,</span> <br />
      in this page i will provide details for this project<span>...</span>
    </h2>
    <p class="p-2 text-capitalize lh-lg fs-6">
      this project divided into two parts<span>:-</span>
    </p>
    <ul class="mylist">
      <li class="p-2 text-capitalize fs-5"><span>1-</span> user account</li>
      <li class="p-2 text-capitalize fs-5"><span>2-</span> admin account</li>
    </ul>
    <div class="user">
      <div class="headers d-flex justify-content-center p-2">
        <h3 class="text-capitalize text-center fs-3 p-2">user account</h3>
      </div>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span>you can register an account with username, password,
        email and provide some information all these information will be
        displayed in profile page<span>...</span> <br />
        by using local storage to display that information and to implements the
        enviroment of the backend server<span>...</span>
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> in home page you will find a photo slider that shows the
        newest products also sections of the catgeories provided by
        "fakestore-api"
        <span
          >note:- api might need vpn to work if you dont see any
          products...</span
        >
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> after registering a new account you'll notice
        notfications every <span>15</span> seconds provide you with discounts on
        products<span>...</span> <br />
        you can turn it off in settings page which you will find more options as
        <span>:-</span>
      </p>
      <ul class="mylist">
        <li class="p-2 text-capitalize fs-5">
          <span>1-</span> delete your account.
        </li>
        <li class="p-2 text-capitalize fs-5">
          <span>2-</span> choose your theme color.
        </li>
        <li class="p-2 text-capitalize fs-5">
          <span>3-</span> show the history of your purshase.
        </li>
      </ul>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> the products is divided to 4 categories you can choose
        products you like and add them into your cart and make the order you
        will find the order's details in history section in settings page...
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> in contact us page you can send me an email your name
        and email will be set automatically from your profile and you will get a
        notification with the succession or the faliur of the message that has
        been sent to me...
      </p>
    </div>
    <div class="admin">
      <div class="headers justify-content-center d-flex p-2">
        <h3 class="text-capitalize text-center fs-3 p-2">admin account</h3>
      </div>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> you can try the admin account by signning in with
        username as <span class="text-lowercase">admin</span> & password as
        <span class="text-lowercase">admin123</span><span>...</span>
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> after signing in you will see the admin pannel which you
        can experience the admin's authorities<span>...</span>
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> you will find the 4 categories sections which you can
        use to add a new products to these categories or update products in
        these categories<span>...</span>
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> also you can experience the admin cart which you can
        view orders made by customers or delete them, you can also filter orders
        in a certain date <br />
        <span>note :</span> filters start from 1 jan 2020 to the current
        date<span>...</span>
      </p>
      <p class="p-2 text-capitalize lh-lg fs-6">
        <span>--</span> you can use settings page in admin pannel to
        <span>:-</span>
      </p>
      <ul class="mylist">
        <li class="p-2 text-capitalize fs-5">
          <span>1-</span> turn the notification on & off.
        </li>
        <li class="p-2 text-capitalize fs-5">
          <span>2-</span> choose your theme color.
        </li>
        <li class="p-2 text-capitalize fs-5">
          <span>3-</span> update your profile picture.
        </li>
      </ul>
    </div>
  </div>
  <div class="foot">
    <div class="headers justify-content-center d-flex p-2">
      <h2 class="text-capitalize text-center fs-3 p-2 tech">
        technologies used in this project
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box text-center">
          <div class="image">
            <img
              class="img-fluid"
              src="assets/images/tech/icons8-html-5-480.svg"
              alt=""
            />
          </div>
          <div class="title">
            <h2 class="text-capitalize">html5</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box text-center">
          <div class="image">
            <img class="img-fluid" src="assets/images/tech/sass.svg" alt="" />
          </div>
          <div class="title">
            <h2 class="text-capitalize">sass</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box text-center">
          <div class="image">
            <img
              class="img-fluid"
              src="assets/images/tech/bootstrap.svg"
              alt=""
            />
          </div>
          <div class="title">
            <h2 class="text-capitalize">bootstrap</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box text-center">
          <div class="image">
            <img
              class="img-fluid"
              src="assets/images/tech/angular.svg"
              alt=""
            />
          </div>
          <div class="title">
            <h2 class="text-capitalize">angular</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
