$background-color: #051622;
$main-color: #deb992;
$secondary-color: #1ba098;
$white: white;
.cards {
  padding: 10px;
  transition: 1s;
  img {
    height: 200px;
    border-radius: 30px;
    transition: 1s;
  }
  h5 {
    background-color: $background-color;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    height: 70px;
    border-radius: 7px;
    color: $main-color;
    transition: 1s;
  }
  p {
    padding: 10px;
    background-color: $background-color;
    font-size: 15px;
    height: 173px;
    overflow: hidden;
    border-radius: 7px;
    color: $main-color;
    transition: 1s;
  }
  input {
    border-radius: 10px;
    padding-left: 15px;
    font-weight: 600;
    font-size: large;
    color: $background-color;
  }
  .cards-footer {
    button {
      background-color: $background-color;
      color: $main-color;
      border: 2px solid $main-color;
      transition: 1s;
      font-weight: bold;
    }
    button:hover {
      background-color: $main-color;
      color: $background-color;
      border: 2px solid $background-color;
    }
    span {
      color: $background-color;
      padding: 10px;
      font-weight: bold;
      border-radius: 7px;
    }
    .amount {
      input {
        width: 70px;
        background-color: $main-color;
        outline: none;
      }
      input:focus {
        box-shadow: inset 0 0 10px $secondary-color;
      }
      button {
        background-color: $background-color;
        color: $main-color;
      }
      button:hover {
        background-color: $main-color;
        color: $background-color;
        border: 2px solid $background-color;
      }
    }
    .price {
      background-color: $main-color;
      border: 2px solid $background-color;
      transition: 1s;
      .sign {
        padding: 0px;
        animation: colorschange 3s infinite linear;
      }
    }
    .price:hover {
      box-shadow: inset 0 0 10px $secondary-color;
    }
  }
}
.cards:hover {
  img {
    filter: brightness(1.5);
  }
  h5 {
    color: $white;
  }
  p {
    color: $white;
  }
}
//animations
@keyframes colorschange {
  0% {
    color: $background-color;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: $background-color;
  }
}
