/* Importing Bootstrap icons cdn. */

$background-color: #051622;
$main-color: #deb992;
$secondary-color: #1ba098;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style: none;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-color: $main-color;
  background-image: url("assets/images/profile/background.jpeg");
  background-size: cover;
}
mat-dialog-container {
  background-image: url("assets/images/profile/milky-way-starry-sky-night-sky-star-956999.jpeg") !important;
  border-radius: 25px !important;
}
.cdk-global-overlay-wrapper {
  overflow: auto;
  pointer-events: auto; // needed for chrome but prevents backdrop click close
}
::-webkit-scrollbar {
  background-image: url("assets/images/profile/background.jpeg");
  background-size: cover;
}
::-webkit-scrollbar-button {
  background-color: $main-color;
}
::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}
::-webkit-scrollbar-track {
  background-color: $background-color;
}
