<section class="d-flex flex-column mt-4">
  <h1 class="text-capitalize text-center p-2">account settings</h1>
  <p class="p-2 text-capitalize lh-lg fs-6">
    you can delete your account here... <br />
    <span>note :</span> once the account deleted you cant know what is your
    history of buying and you must register a new account to enjoy our
    services<span>...</span>
  </p>
  <button
    (click)="deactivate()"
    class="btn fw-bold w-100 text-capitalize"
    type="button"
  >
    delete your account
  </button>
</section>
